---
// Astro tools
import { getCollection } from "astro:content";

// Astro Types
import type { CollectionEntry } from "astro:content";

// Components
import PageIntro from "@/components/ui/PageIntro.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostCard from "@/components/ui/PostCard.astro";
import ContactSection from "@/components/sections/ContactSection.astro";
import Button from "@/components/ui/Button.astro";
import Heading from "@/components/ui/Heading.astro";
import CategoryCloud from "@/components/ui/CategoryCloud.astro";

// Utils
import { formatPosts } from "@/scripts/utils";

const allPosts = await getCollection("posts", ({ data }) =>
  import.meta.env.PROD ? !data.isDraft : true
);
const formattedPosts: CollectionEntry<"posts">[] = formatPosts(allPosts);

const currentPage = +(Astro.url.searchParams.get("page") as string) || 1;
const postsPerPage = 2;

const totalPages = Math.ceil(formattedPosts.length / postsPerPage);

const paginatedPosts = formattedPosts.slice((currentPage - 1) * postsPerPage, currentPage * postsPerPage)
---

<BaseLayout
  title="Kevin Haus Posts"
  description="Here are some recent projects I’ve done for clients.">
  <PageIntro
    title="My Writings"
    description="I like to write about productivity, web development, design, and working with clients. Get a sense of what it’s like to work with me and understand my process."
  />

  <Heading
    tagName="h2"
    class="visually-hidden"
    >Latest posts</Heading
  >

  <section class="section | flow">
    <div class="posts-wrapper | grid-auto">
      {paginatedPosts.map((post) => <PostCard {post} />)}
    </div>
    <CategoryCloud />

    <div class="pagination | flex">
      {
        currentPage > 1 && (
          <Button
            href=`/blog?page=${currentPage - 1}`
            type="outlined">
            Prev
          </Button>
        )
      }
      {
        currentPage < totalPages && (
          <Button
            href=`/blog?page=${currentPage + 1}`
            type="outlined">
            Next
          </Button>
        )
      }
    </div>
  </section>

  <ContactSection />
</BaseLayout>

<style>
  .pagination {
    --justify: center;
    margin-block-start: 2rem;
  }
</style>
