---
// Astro tools
import { Picture } from "astro:assets";

// Components
import Heading from "../ui/Heading.astro";
import Button from "../ui/Button.astro";

// Assets
import avatar from "@/assets/avatar.avif";
---

<section class="intro | section">
  <Picture
    src={avatar}
    alt="Kevin Haus avatar"
    formats={["avif", "webp"]}
    width={250}
    pictureAttributes={{ class: "intro-banner" }}
  />
  <div class="flow">
    <Heading tagName="h1" class="text-uppercase ls-sm">Hi, I'm Kevin</Heading>
    <p class="text-uppercase ls-md">self-taught designer</p>
    <p>
      I’m a skilled web developer passionate about creating innovative and
      user-friendly websites obsessed with quality.
    </p>
    <div class="btns-group | flex">
      <Button href="/portfolio" type="outlined">See Projects</Button>
      <Button href="#contact" type="primary">Let's Connect</Button>
    </div>
  </div>
</section>
